header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.container {
    position: relative;
    width: 58.75rem;
    /* width: 940px; */

    margin: 0 auto;
}

nav {
    position: absolute;
    right: 0;
    top: 110px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.2s;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

/* PRODUTOS */
.produtos {
    width: 58.75rem;
    margin: 0 auto;
    padding: 3rem 0;
}

.produtos__produto {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;

    border: 2px solid black;
    border-radius: 10px;

    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
}

.produtos__produto:hover {
    border-color: #c78c19;
}

.produtos__produto:hover .produto__titulo {
    font-size: 34px;
}

.produtos__produto:active {
    border-color: #088c19;
}

.produto__titulo {
    font-size: 30px;
    font-weight: bold;
}

.produto__descricao {
    font-size: 18px;
}

.produto__preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

/* ?FOOTER */
.footer {
    text-align: center;
    background-color: #cccccc;
    background-image: url("./../assets/images/bg.jpg");
}

.footer__text {
    color: #ffffff;
    font-size: 13px;
    margin-top: 1.25rem;
}

main {
    /* width: 940px; */
    width: 58.75rem;

    margin: 0 auto;
}

.form {
    margin: 40px 0;
}

.form__label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.form__input {
    display: block;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 50%;
}

.form__checkbox {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    margin: 20px 0;
}

.form__enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;

}

.form__enviar:hover {
    background-color: darkorange;
    transform: scale(1.2);
}

.table {
    margin: 20px 0 40px;
}

.table__header{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td,th {
    border: 1px solid black;
    padding: 8px 15px;
}